<div class="container">


<div class="form-group" *ngIf="crud_operation.is_visible">

  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="current_clien.name">

  <label>Estado Civil</label>
  <input type="text" class="form-control" [(ngModel)]="current_clien.martial_status">
  <label>Numero</label>
  <input type="number" class="form-control" [(ngModel)]="current_clien.number">
  <label>Correo</label>
  <input type="email" class="form-control" [(ngModel)]="current_clien.email">
  <label>Actividad Economica</label>
  <input type="text" class="form-control" [(ngModel)]="current_clien.economic_activity">
  <label>Ingresos Promedios</label>
  <input type="text" class="form-control" [(ngModel)]="current_clien.average_income">
  <br>

  <button class="btn btn-success" (click)="save()">Guardar</button> |
  <button class="btn btn-danger" (click)="crud_operation.is_visible=false">Cancelar</button>



</div>


<div>
  <br>
  <button class="btn btn-info" (click)="new()">Lo Quiero!</button>
</div>
</div>
