.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}

/* CSS to change Default/'Accent' color */
::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #696c72;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #d4232e;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #d4232e;
}





::ng-deep .mat-tab-label-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  background-color: #ecebeb;
}


::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #d4232e;
}

