.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}

/* CSS to change Default/'Accent' color */
::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #959398;


}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: black;


}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #959398;

}


::ng-deep .mat-tab-label,
.mat-tab-link {
  font-family: amaranth-regular;
  font-size: 18px;
  font-weight: 1000;
}



::ng-deep .mat-tab-label-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  background-color: #ecebeb;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  /* top: 18px; */
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 4px;
  /* border-radius: 10px */
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background,
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #959398;
}

::ng-deep .mat-accent .mat-slider-thumb {
  /* height: 30px; */
  /* width: 30px; */
  background-color: #959398;
  /* border: solid 2px #959398; */
  /* bottom: -20px; */
  /* right: -20px; */
}

::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #959398;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #b40c15;
}

/**CSS CREDITO EDUCATIVO**/
.div-principal {
  padding-bottom: 25px;
  margin-top: 5%;
}

.mat-slider {
  min-width: 280px;
  margin-top: -4%;
  width: 300px;
  line-height: 4;
  /* font-family: amaranth-regular; */
  /* margin-left: -2%; */
}

.input-monto-tiempo {
  width: 100px;
  flex: none;
  margin-top: -4%;
  margin-left: -1.5%;
}

.label-monto {
  padding-top: 7%;
  margin-left: 3%;
  font-weight: 900;
}

.div-lado-izq {
  background-color: #eff0f1;
  padding: inherit;
  margin-left: 3%;
  height: 1%;
}

.titulo-simulador {
  font-family: amaranth-bold;
  margin-left: 6%;
  /* font-style: bold; */
}

.div-principal-2 {
  width: 100%;
}

.margin-left-3 {
  margin-left: 3%;
}


.label-tabla-de {
  color: #0d0c0e;
  margin-bottom: -1%;
  margin-left: 3%;
  font-weight: 900;
  font-size: 12px;
}

.label-amortizacion {
  color: #0d0c0e;
  margin-left: 3%;
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  margin-top:-8px
}

.boton-simuladores {
  border-radius: 12px;
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  /* height: 10%; */
  /* margin: 4px 2px; */
  width: 15%;

}

.div-bg-gray{
  color:#b4b3b5
}
