<mat-tab label="Crédito Inversion Personal">
  <br><br>
  <h2 class="titulo-simulador">Simulador Crédito Inversion Personal</h2>
  <div class="row div-principal-2">
    <div class="col-md-6 div-lado-izq">
      <label for="exampleInputEmail1" class="label-monto">
        Monto
      </label>
      <div class="input-group margin-left-3">
        <mat-slider thumbLabel [displayWith]="formatoMonto" (input)="onInputChangeMonto($event)" step="100"
          tickInterval="100" class="mat-slider" min="{{montoMinCreditoInversion}}" max="{{montoMaxCreditoInversion}}"
          [(ngModel)]="valorPrestamo" (ngModelChange)="simuladorInversion()">
        </mat-slider>
        <input type="number" class="form-control input-monto-tiempo" id="exampleInputEmail1" placeholder="Monto"
          min="{{montoMinCreditoInversion}}" max="{{montoMaxCreditoInversion}}" [(ngModel)]="valorPrestamo"
          name="valorPrestamo" (ngModelChange)="simuladorInversion()" size=40>
      </div>
      <br>
      <label for="exampleInputPassword1" class="label-plazo">
        Plazo (Meses)
      </label>
      <div class="input-group margin-left-3">
        <mat-slider thumbLabel [displayWith]="formatoTiempo" (input)="onInputChangeTiempo($event)" tickInterval="1"
          class="mat-slider" min="{{tiempoMinCreditoInversion}}" max="{{tiempoMaxCreditoInversion}}"
          [(ngModel)]="numeroCuotas" (ngModelChange)="simuladorInversion()">
        </mat-slider>
        <input type="number" class="input-monto-tiempo form-control " id="exampleInputPassword1"
          value="{{numeroCuotas}}" placeholder="Plazo" min="{{tiempoMinCreditoInversion}}"
          max="{{tiempoMaxCreditoInversion}}" [(ngModel)]="numeroCuotas" name="numeroCuotas"
          (ngModelChange)="simuladorInversion()" size=40>
      </div>
      <br>
      <label class="label-tabla-de">Tabla de </label> <br>
      <label class="label-amortizacion">amortización</label>
      <div class="button-group div-botones-francesa-alemana">
        <button class="btn btn-light boton-simuladores" (click)="verFrancesa()"
          style="background-color: #f46c24; ">Francesa</button>
        <button class="btn btn-light boton-simuladores" (click)="verAlemana()"
          style="background-color: #959398;  margin-left: 2%;">Alemana</button>
      </div>
      <div class="div-bg-gray">
        <br><br>
        <h2 class="h3-tasa-interes">
          Tasa de Interés</h2>
        <div class="row">
          <div class="col-md-4 margin-left-3">
            <h1 class="h1-tasa-credito">
              {{tasaCreditoInversion | number: '1.2-2'}} </h1>
          </div>
          <div class="col-md-8 div-porcentaje-anual" style="margin-right: -10%; margin-left: 7%;">
            <div class="row">
              <div class="col-md-12">
                <h1 class="h1-porcentaje">%</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h1 class="h1-anual">anual</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- <br> -->
        <div class="button-group div-tiempos-y-montos" style="background-color: #f46c24; ">
          <label class="label-limites-tiempos">Tiempo mínimo
            {{tiempoMinCreditoInversion}} meses,
            máximo {{tiempoMaxCreditoInversion}} meses</label>
          <label class="label-limites-montos">Monto mínimo
            {{montoMinCreditoInversion | currency}}
            monto máximo {{montoMaxCreditoInversion | currency}}
          </label>
        </div>
      </div>
      <div class="button-group margin-left-3" *ngIf="amortizacionIA.is_visible || amortizacionF.is_visible">
        <br>
        <button class="btn btn-light boton-cerrar-tabla" style="background-color: #f46c24;" (click)="cerrarTablas()">
          Cerrar Tabla</button>
      </div>
    </div>
    <div class="col-md-6 div-lado-derecho">
      <div class="row">
        <div class="col-md-8 div-detalle-simulacion" style="background-color: #f46c24;">
          <div *ngIf="alemana.is_visible" id="htmlData">
            <h3 class="h3-detalle-alemana">
              Detalle de la simulación Alemana:</h3>
            <table width="100%" cellspacing="5px" cellpadding="5px" class="tabla-detalle-alemana">
              <tr>
                <th>Tasa periódica:</th>
                <td class="txt-align-r">
                  <input class="input-td" value="{{tasaInteresPeriodica | number:'1.0-2' }}%" readonly>
                </td>
              </tr>
              <tr>
                <th> Seguro desgravamen:</th>
                <td class="txt-align-r">
                  <input value="{{porcentajeSD| number:'1.0-4'}}%" readonly class="input-td">
                </td>
              </tr>
              <tr>
                <th> Total seguro :</th>
                <td class="txt-align-r">
                  <input value="{{sumaSeguroDesgravamenF | currency}}" readonly class="input-td">
                </td>
              </tr>
              <tr>
                <th> # Cuotas:</th>
                <td class="txt-align-r">
                  <input value="{{numeroCuotas}}" readonly class="input-td-2">
                </td>
              </tr>
              <div class="div-td" style="background-color: #f45424;">
                <tr>
                  <th>Cuota inicial:</th>
                  <td class="txt-align-r">
                    <input class="input-td-2" value="{{cuotaInicial | currency}}" readonly style="margin-left: 110%;">
                  </td>
                </tr>
              </div>
              <tr>
                <th class="th-total-interes">Total interés a pagar:</th>
                <td class="th-total-interes txt-align-r">
                  <input value="{{sumaIntereses | currency}}" readonly class="input-td-2">
                </td>
              </tr>
            </table>
          </div>
          <div *ngIf="francesa.is_visible">
            <h3 style="font-weight: 600; margin-top: 5%; margin-bottom: -1px;">Detalle de la simulación
              Francesa:</h3>
            <table width="100%" cellspacing="5px" cellpadding="5px" class="tabla-detalle-alemana">
              <tr>
                <th>Tasa periódica:</th>
                <td class="txt-align-r">
                  <input class="input-td" value="{{tasaInteresPeriodica | number:'1.0-2' }}%" readonly>
                </td>
              </tr>
              <tr>
                <th> Seguro desgravamen:</th>
                <td class="txt-align-r">
                  <input value="{{porcentajeSD| number:'1.0-4'}}%" readonly class="input-td">
                </td>
              </tr>
              <tr>
                <th> Total seguro :</th>
                <td class="txt-align-r">
                  <input value="{{sumaSeguroDesgravamenA | currency}}" readonly class="input-td">
                </td>
              </tr>
              <tr>
                <th> # Cuotas:</th>
                <td class="txt-align-r">
                  <input class="input-td-2" value="{{numeroCuotas}}" readonly class="input-td-2">
                </td>
              </tr>
              <div class="div-td-2" style="background-color: #f45424 ; ">
                <tr>
                  <th> Cuota a pagar:</th>
                  <td class="txt-align-r">
                    <input class="input-td-2" value="{{cuotaPagarF | currency}}" readonly style="margin-left: 95%;">
                  </td>
                </tr>
              </div>
              <tr>
                <th class="th-total-interes"> Total interés a pagar:</th>
                <td class="th-total-interes txt-align-r ">
                  <input class="input-td-2" value="{{sumaInteresesF | currency}}" readonly>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-4 div-img-detalle" style=" background-color: #f46c24;">
          <img alt="ImgImgImg" src="../../assets/images/img-inversion.jpg" width="500" height="600"
            class="img-detalle" />
        </div>
      </div>
      <img src="../../assets/images/flechas_naranjas.PNG" width="10%" height="15" class="img-flechas">
      <button class="btn btn-info boton-descargar" style="background-color: #f46c24; "
        (click)="generatePDF()">Descargar</button>
    </div>
    <div style="margin-left: 15%;">
      <div *ngIf="amortizacionF.is_visible">
        <div style="text-align: center;">
          <h2>Tabla de Amortización Francesa</h2>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                #Cuota
              </th>
              <th>
                Interés del Periodo
              </th>
              <th>
                Capital Amortizado
              </th>
              <th>
                Seguro
              </th>
              <th>
                Cuota a Pagar
              </th>
              <th>
                Saldo Remanente
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataFrances">
              <td>{{data.numeroCuota}}</td>
              <td>{{data.interesPeriodo | currency}}</td>
              <td>{{data.capitalAmortizado | currency}}</td>
              <td>{{data.seguro | currency}}</td>
              <td>{{data.cuotaPagar | currency}}</td>
              <td>{{data.saldoRemanente | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="amortizacionIA.is_visible">
        <div style="text-align: center;">
          <h2>Tabla de Amortización Alemana</h2>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                #Cuota
              </th>
              <th>
                Interés del Periodo
              </th>
              <th>
                Capital Amortizado
              </th>
              <th>
                Seguro
              </th>
              <th>
                Cuota a Pagar
              </th>
              <th>
                Saldo Remanente
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataAleman">
              <td>{{data.numeroCuota}}</td>
              <td>{{data.interesPeriodo | currency}}</td>
              <td>{{data.capitalAmortizado | currency}}</td>
              <td>{{data.seguro | currency}}</td>
              <td>{{data.cuotaPagar | currency}}</td>
              <td>{{data.saldoRemanente | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-tab>
