<h2 mat-dialog-title>Felicidades</h2>
<mat-dialog-content class="mat-typography">
  <h3>Para poder ahorrar tu dinero en manera flexible necesitas abrir tu cuenta.</h3>


  <h3>Incredible tooling</h3>
  <p>Build features quickly with simple, declarative templates. Extend the template language with
    your own components and use a wide array of existing components. Get immediate Angular-specific
    help and feedback with nearly every IDE and editor. All this comes together so you can focus
    on building amazing apps rather than trying to make the code work.</p>
    <h3>Speed &amp; Performance</h3>

  <h3>Loved by millions</h3>
  <p>From prototype through global deployment, Angular delivers the productivity and scalable
    infrastructure that supports Google's largest applications.</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Tienda</button>
</mat-dialog-actions>
